@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0d1321;
  --secondary-color: #3e5c76;
  --font-color: #f0ebd8;
  --wrong-button-color: rgb(118, 31, 31);
  --right-button-color: rgb(60, 108, 46);
}

body {
  font-family: "MedievalSharp", cursive;

  /* min-height: 100vh; */

  background-color: var(--main-color);

  /* overflow: hidden; */
}

.start-section {
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary-color);
  color: var(--font-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  transition: all 0.4s ease;
}

.start-section__text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  width: 80%;
  max-width: 500px;
}

.start-section__title {
  font-size: 4rem;
  text-align: center;
}

.start-section__start-button {
  color: var(--main-color);
  font-size: 2rem;

  background-color: transparent;
  padding: 10px 20px;

  border: 3px solid var(--main-color);
  border-radius: 30px;

  transition: all 0.4s ease-in-out;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.start-section__start-button:hover,
.start-section__start-button:active {
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 20px 30px;
  letter-spacing: 3px;
}

.game-section {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.game-section__display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  font-size: 5rem;
  width: 80%;

  color: var(--font-color);
}

.game-letters {
  display: flex;
  gap: 0.5rem;
  width: 80%;
  max-width: 500px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.letter-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: #eee;
  border: none;

  font-size: 2rem;
}

.letter-button:disabled {
  background-color: #eee;
  color: black;
}

.vidas i {
  font-size: 2rem;
  color: var(--secondary-color);
}

.letter-button.correct {
  background-color: var(--right-button-color);
}

.letter-button.wrong {
  background-color: var(--wrong-button-color);
}

.hide {
  transform: scale(0);
}

.end-section {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.end-section__button {
  background-color: transparent;
  color: var(--font-color);
  border: 3px solid var(--font-color);
  border-radius: 30px;
  padding: 20px 10px;
  max-width: 80%;
  font-size: 3rem;
  transition: all 0.4s ease;
}

.end-section__button:active,
.end-section__button:hover {
  padding: 30px 20px;
}

.end-section__reveal-div {
  background-color: rgba(238, 238, 238, 0.8);
  max-width: 80%;
  border-radius: 30px;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.start-section,
.end-section {
  position: fixed;
  top: 0;
  left: 0;
  transition: scale 0.4s ease;
}

.start-section {
  z-index: 2;
}

.end-section {
  z-index: 1;
}

@media (max-width: 600px) {
  .game-section__display {
    font-size: 2rem;
  }
}
